<% content_for :title, "Delete Book" %>

<h1>Delete Book</h1>

<p>Are you sure you want to delete the following book?</p>

<div>
  <p><strong>Title:</strong> <%= @book.title %></p>
  <p><strong>Author:</strong> <%= @book.author %></p>
  <p><strong>Price:</strong> <%= number_to_currency(@book.price) %></p>
  <p><strong>Published Date:</strong> <%= @book.published_date&.strftime("%B %d, %Y") %></p>
</div>

<div>
  <%= button_to "Yes, Delete This Book", @book, method: :delete %>
</div>

<br>

<div>
  <%= link_to "No, Back to Home Page", books_path %>
</div>
