<% content_for :title, "Books" %>

<h1>Books</h1>

<% if notice.present? %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div id="books">
  <% if @books.any? %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th>Published Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.author&.name %></td>
            <td><%= number_to_currency(book.price) %></td>
            <td><%= book.published_date&.strftime("%B %d, %Y") %></td>
            <td>
              <%= link_to "Show", book %> |
              <%= link_to "Edit", edit_book_path(book) %> |
              <%= link_to "Delete", delete_book_path(book) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No books in the collection yet.</p>
  <% end %>
</div>

<br>

<%= link_to "New book", new_book_path %> |
<%= link_to "Manage Authors", authors_path %>
