<% content_for :title, "Book Details" %>

<h1>Book Details</h1>

<div>
  <p><strong>Title:</strong> <%= @book.title %></p>
  <p><strong>Author:</strong> <%= @book.author %></p>
  <p><strong>Price:</strong> <%= number_to_currency(@book.price) %></p>
  <p><strong>Published Date:</strong> <%= @book.published_date&.strftime("%B %d, %Y") %></p>
</div>

<br>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Destroy this book", delete_book_path(@book) %> |
  <%= link_to "Back to Home Page", books_path %>
</div>
